@import "modules/shortcuts";
.form-group {
	.text {
		width: 100%;
		font-size: 120px;
	}
	input[type=text] {
		background: none;
		border: 0;
		color: white;
		border-bottom: 1px solid rgba(255,255,255,0.8);
	}
	::-webkit-input-placeholder {
	   color: white;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: white;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: white;  
	}

	:-ms-input-placeholder {  
	   color: white;  
	}
}

.new-shout {
	display: block;
	.form-wrap {
		// @include center;	
	}
}